# Notebook for sending and getting data to and from influxDB

In [6]:
import pandas as pd

df = pd.read_csv('../EXCEL_TO_CSV/all_data.csv')
df = df.drop(columns=['Unnamed: 0'])    # Drops the index column of our data

print(df)

                  DateTime   AGIA TRIADA SIDIROKASTRO         KIPI  \
0      2014-09-01 00:00:00  0.000000e+00      1968.17  1081.714747
1      2014-09-01 01:00:00  0.000000e+00       1970.4  1085.089518
2      2014-09-01 02:00:00  0.000000e+00       1976.5  1087.033615
3      2014-09-01 03:00:00  0.000000e+00      1981.65  1087.900093
4      2014-09-01 04:00:00  0.000000e+00      1990.28  1088.613414
...                    ...           ...          ...          ...
33595  2018-07-31 19:00:00  2.752392e+06  2.86032e+06     0.000000
33596  2018-07-31 20:00:00  2.740819e+06   2.8634e+06     0.000000
33597  2018-07-31 21:00:00  2.742809e+06  2.87477e+06     0.000000
33598  2018-07-31 22:00:00  2.744017e+06  2.89026e+06     0.000000
33599  2018-07-31 23:00:00  2.745071e+06  2.93576e+06     0.000000

       AGIOI THEODOROI     ALOYMINION  ALOYMINION II  ALOYMINION III  \
0             1.006238     386.378384       0.000000       86.990502
1             1.425448      88.890634       0.000000       85.540484
2             1.226820      76.079663       0.000000       82.496048
3             1.236243      73.233812       0.000000       82.941890
4             0.997471      71.086599       0.000000       86.595267
...                ...            ...            ...             ...
33595      2953.968267  415547.333795  746905.805378    78549.984372
33596      1094.547602  415838.181345  753553.166100    82596.367186
33597      2347.247799  416212.683834  687621.411863    81791.453126
33598      3245.851321  416959.621486  751043.586778    84686.156251
33599      3115.223882  417560.953150  717535.791798    83791.976565

              ATHENS  ALEXANDROUPOLIS  ...   MOTOR OIL II       XANTHI  \
0         107.718607         0.000000  ...       0.000000     1.937778
1          97.470909         0.000000  ...       0.000000     2.577778
2          85.741823         0.000000  ...       0.000000     1.617778
3          82.081179         0.000000  ...       0.000000     1.208889
4          84.646194         0.000000  ...       0.000000     1.511111
...              ...              ...  ...            ...          ...
33595  140347.920109      2647.115778  ...  743718.736926  4452.500004
33596  137494.563884      3443.724987  ...  743089.375538  5420.555665
33597  136852.089336      2145.741484  ...  692457.068781  5980.000002
33598  140395.434503      1675.956020  ...  749431.211810  5049.166997
33599  135906.107220       343.347238  ...  727938.692161  3462.222415

            OINOFYTA        PLATY  SALFA ANTHOUSSA  SALFA ANO LIOSSIA  \
0          90.740720     9.586922        24.889061          28.622350
1          80.107956     9.426204        16.216738          28.649550
2          98.614750     9.655958        23.750735          27.313650
3         102.719525     9.697519         1.927019           5.216050
4         107.171301     9.562005         0.005786           6.006900
...              ...          ...              ...                ...
33595  119193.826475  8751.307257      1817.815664        1233.173055
33596  124396.990087  8716.139199     10920.816564       12353.928608
33597  128303.882950  9186.457855     11835.489013       37350.648576
33598  129413.313672  8803.363411     11526.262876       25002.374476
33599  130625.766354  8978.502818     17771.224686       12916.803749

          SERRES  TRIKALA  Holiday  Weekday
0      12.800001      0.0    False        0
1       9.813334      0.0    False        0
2       1.884445      0.0    False        0
3       1.457778      0.0    False        0
4       1.528889      0.0    False        0
...          ...      ...      ...      ...
33595        NaN      NaN    False        1
33596        NaN      NaN    False        1
33597        NaN      NaN    False        1
33598        NaN      NaN    False        1
33599        NaN      NaN    False        1

[33600 rows x 47 columns]