# Notebook for adjusting the format of the data

In [19]:
import pandas as pd


def change_format(csv):
    ''' Gets as input a csv in a specific format (rows present time and columns present areas)
        and returns a dataframe in a wanted format (rows present areas and columns present time)

    Parameters
    ----------
    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe with the wanted format  
    '''

    df_before_modify = pd.read_csv(csv)
    cols = df_before_modify.columns[2:46]    # keep the columns that have names of cities/areas
    cols_dict = dict(zip(cols, range(len(cols))))   # create a dictionary with an index for each city/area as a value

    # create a new dataframe with the wanted columns
    d = {'Date': [], 'ID': [], 'Timeseries ID': [], 'Source': [], '00:00:00': [], '01:00:00': [],'02:00:00': [], '03:00:00': [], '04:00:00': [], '05:00:00': [], '06:00:00': [], '07:00:00': [], '08:00:00': [], '09:00:00': [], '10:00:00': [], '11:00:00': [], '12:00:00': [], '13:00:00': [], '14:00:00': [], '15:00:00': [], '16:00:00': [], '17:00:00': [], '18:00:00': [], '19:00:00': [], '20:00:00': [], '21:00:00': [], '22:00:00': [], '23:00:00': []}
    df = pd.DataFrame(data=d)
    df['Source'] = df['Source'].astype(str)
    df['ID'] = df['ID'].astype(int)
    df['Timeseries ID'] = df['ID'].astype(int)

    # read every 24 rows from the unmodified dataframe
    i = 0
    while i <= 100:# df_before_modify.shape[0]-24:


        temp_df = df_before_modify.iloc[i:i+24]
        temp_date = temp_df['DateTime'][i].split()[0]   # save the current date into a variable
        temp_df = temp_df.drop(columns=temp_df.columns[:2]) # drop the two first columns
        temp_df = temp_df.drop(columns=temp_df.columns[44:]) # drop the two first columns
        
        temp_df = temp_df.transpose()

        # iterate inside the temporary 24 row dataframe and append each column of it to each row
        # of the new dataframe 
        for j in range(i, i+24, 1):
            df.at[j,'Date'] = temp_date
            df.at[j,'Source'] = temp_df.index[j%24]
            df.at[j,'ID'] = cols_dict[temp_df.index[j%24]]
            df.at[j,'Timeseries ID'] = cols_dict[temp_df.index[j%24]]
            
            for z in range(0, 24, 1):
                df.iloc[j, z+4] = temp_df.iloc[j%24, z]


        i = i + 24
  
    

    return df


change_format('../EXCEL_TO_CSV/all_data.csv')

/home/billys/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Date,ID,Timeseries ID,Source,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2014-09-01,0.0,0.0,AGIA TRIADA,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-09-01,1.0,1.0,SIDIROKASTRO,1968.17,1970.4,1976.5,1981.65,1990.28,1980.78,...,2030.679,2043.84,2038.82,2051.03,2000.03,1985.27,1981.57,1964.18,1953.35,1962.24
2,2014-09-01,2.0,2.0,KIPI,1081.71,1085.09,1087.03,1087.9,1088.61,1086.48,...,1079.94,1079.7,1082.23,1079.19,1081.2,1079.34,1082.95,1085.19,1082.68,1083.93
3,2014-09-01,3.0,3.0,AGIOI THEODOROI,1.00624,1.42545,1.22682,1.23624,0.997471,0.966182,...,0.938601,1.50164,0.959207,0.918692,0.519762,2.03405,0.986086,1.41191,0.992149,0.946669
4,2014-09-01,4.0,4.0,ALOYMINION,386.378,88.8906,76.0797,73.2338,71.0866,73.5762,...,420.841,417,417.752,420.904,422.61,419.88,415.526,416.541,447.398,435.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2014-09-05,19.0,19.0,ELPE - HAR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2014-09-05,20.0,20.0,ENERGIAKI THESS. (ELPE),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,2014-09-05,21.0,21.0,HERON II,580.708,12.698,0,0,0,0,...,654.723,608.963,621.227,622.499,604.56,677.569,603.098,672.108,515.377,638.078
118,2014-09-05,22.0,22.0,HERONAS,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119,2014-09-05,23.0,23.0,THESSALONIKI,77.381,60.5497,46.5575,53.0172,56.975,48.0846,...,115.149,111.163,109.33,100.428,94.6582,94.2782,94.1092,93.9283,97.2213,89.6748

In [76]:
import pandas as pd


def change_format_efficient(csv):
    ''' Gets as input a csv in a specific format (rows present time and columns present areas)
        and returns a dataframe in a wanted format (rows present areas and columns present time)

    Parameters
    ----------
    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe with the wanted format  
    '''

    df_before_modify = pd.read_csv(csv, parse_dates=['DateTime'])
    df_before_modify = df_before_modify.loc[:,'DateTime':'TRIKALA'] # Keep the datetime column and all the area columns
    
    # Create the new dataset with the wanted format
    d = {'Date': [], 'ID': [], '00:00:00': [], '01:00:00': [],'02:00:00': [], '03:00:00': [], '04:00:00': [], '05:00:00': [], '06:00:00': [], '07:00:00': [], '08:00:00': [], '09:00:00': [], '10:00:00': [], '11:00:00': [], '12:00:00': [], '13:00:00': [], '14:00:00': [], '15:00:00': [], '16:00:00': [], '17:00:00': [], '18:00:00': [], '19:00:00': [], '20:00:00': [], '21:00:00': [], '22:00:00': [], '23:00:00': []}
    df = pd.DataFrame(data=d)
    
    n=24
    temp_list_df = [df_before_modify[i:i+n].transpose() for i in range(0,len(df_before_modify),n)]
    #list_dates = [list_df[][i] for i in range(0,len(list_df))]

    list_df = []
    for td in temp_list_df:
        temp_df = pd.DataFrame(data=td).reset_index()
        
        #columns=['Date', 'ID', '00:00:00', '01:00:00','02:00:00', '03:00:00', '04:00:00', '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00', '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00', '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00', '21:00:00', '22:00:00','23:00:00']
        temp_df['Date'] = td.iat[0,0]
        
        # Change the postion of the column to fit the format we need        
        column_copy = temp_df['Date']
        temp_df.drop(columns=['Date'], inplace=True)
        temp_df.insert(0, 'Date', column_copy)
        
        # Drop the first column because it contains useless info
        temp_df = temp_df.drop(0).reset_index(drop=True)

        # Change the column names to fit our format
        temp_df.columns = ['Date', 'ID', '00:00:00', '01:00:00','02:00:00', '03:00:00', '04:00:00', '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00', '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00', '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00', '21:00:00', '22:00:00','23:00:00']
        
        list_df.append(temp_df)
        #df = pd.concat([df, temp_df], ignore_index=True, axis=1)
    print(len(list_df))
    return list_df[0]


change_format_efficient('../EXCEL_TO_CSV/all_data.csv')

/home/billys/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

1400

,Date,ID,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,2014-09-01,AGIA TRIADA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-09-01,SIDIROKASTRO,1968.17,1970.4,1976.5,1981.65,1990.28,1980.78,1963.26,1983.19,...,2030.679,2043.84,2038.82,2051.03,2000.03,1985.27,1981.57,1964.18,1953.35,1962.24
2,2014-09-01,KIPI,1081.71,1085.09,1087.03,1087.9,1088.61,1086.48,1085.47,1088.25,...,1079.94,1079.7,1082.23,1079.19,1081.2,1079.34,1082.95,1085.19,1082.68,1083.93
3,2014-09-01,AGIOI THEODOROI,1.00624,1.42545,1.22682,1.23624,0.997471,0.966182,1.48192,0.671389,...,0.938601,1.50164,0.959207,0.918692,0.519762,2.03405,0.986086,1.41191,0.992149,0.946669
4,2014-09-01,ALOYMINION,386.378,88.8906,76.0797,73.2338,71.0866,73.5762,73.1382,72.7171,...,420.841,417,417.752,420.904,422.61,419.88,415.526,416.541,447.398,435.16
5,2014-09-01,ALOYMINION II,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2014-09-01,ALOYMINION III,86.9905,85.5405,82.496,82.9419,86.5953,85.1194,92.6258,85.2891,...,87.7782,83.9938,86.8725,84.6877,82.6458,82.8994,84.8394,83.2454,85.1038,82.4798
7,2014-09-01,ATHENS,107.719,97.4709,85.7418,82.0812,84.6462,99.1663,113.014,136.979,...,166.997,158.637,148.643,135.01,128.201,122.882,124.549,124.879,128.052,126.854
8,2014-09-01,ALEXANDROUPOLIS,0,0,0,0,0,0.0797892,0.862709,4.00358,...,2.50968,2.60628,3.09357,2.50264,2.81011,2.41349,2.47042,2.10971,0.299681,0
9,2014-09-01,VIPE LARISSA,3.99375,3.89842,2.53904,2.50961,2.18247,2.44682,2.44264,2.96646,...,10.5612,9.22316,7.21484,9.65603,10.2039,8.39005,9.04746,6.78307,4.49567,4.15121
10,2014-09-01,VOLOS,70.1096,48.3307,66.8537,70.2452,70.7454,79.5639,115.267,93.9006,...,50.9965,56.9343,53.2628,60.0496,49.9407,56.4998,55.2668,54.7647,58.6172,52.5015
11,2014-09-01,VFL,203.014,203.876,203.003,203.702,202.236,203.452,203.625,204.647,...,200.246,200.046,203.309,201.674,201.385,202.232,202.817,202.325,203.538,204.834
12,2014-09-01,ALIVERI (PPC),631.254,754.476,447.653,535.581,477.808,438.22,464.763,482.226,...,448.4,453.156,457.551,453.885,487.549,724.845,477.483,478.213,434.555,448.503
13,2014-09-01,KERATSINI (PPC),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2014-09-01,KOMOTINI (PPC),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2014-09-01,LAVRIO (PPC),999.285,953.655,780.263,793.952,780.263,775.701,780.263,784.826,...,793.952,784.826,771.138,807.641,971.907,930.841,935.404,857.834,771.138,780.263
16,2014-09-01,MEGALOPOLIS\n(PPC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014-09-01,DRAMA,15.5911,13.84,13.8844,13.8844,13.7778,10.0533,9.78667,9.87556,...,25.0133,24.5511,24.5244,23.9467,23.8756,24.1778,24.2933,25.0489,24.5333,24.3467
18,2014-09-01,ELPE,44.6011,44.2982,41.9901,43.074,37.9866,44.9221,46.2765,45.6836,...,46.9193,47.6671,42.2685,42.2628,42.044,45.1035,45.1811,43.5168,44.0989,44.4088
19,2014-09-01,ELPE - HAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-09-01,ENERGIAKI THESS. (ELPE),0,0,0,0,0,0,212.987,398.152,...,0,0,0,0,0,0,0,0,0,0
21,2014-09-01,HERON II,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2014-09-01,HERONAS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2014-09-01,THESSALONIKI,64.552,49.7181,47.0197,47.1146,49.063,49.7202,61.8707,90.386,...,110.954,104.224,91.5638,91.7174,90.0096,86.7679,97.1723,92.0299,90.1828,75.4478
24,2014-09-01,THISVI,501.934,561.01,14.4814,0,0,0,0,0,...,583.943,505.156,518.44,582.988,603.748,530.6,507.078,540.663,542.118,498.386
25,2014-09-01,THRIASIO,15.9602,15.9832,17.6219,17.8277,17.8255,18.1852,20.4542,23.5834,...,24.2992,25.9201,22.9359,21.9523,21.4334,20.4176,20.7836,19.4216,17.2012,15.8202
26,2014-09-01,KAVALA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2014-09-01,KARDITSA,0,0,0.0262633,0,0,0.678548,0,0,...,0.246545,0.245563,0.0492878,0,0,0,0.426972,0.330119,0.712188,0.644391
28,2014-09-01,KATERINI,12.64,12.7467,12.8,12.7289,12.8711,12.8356,12.7467,12.7822,...,12.6133,12.5384,12.6222,12.4978,12.6933,12.5156,12.5511,12.6222,12.8,12.6578
29,2014-09-01,KILKIS,25.1733,27.7156,28.48,30.9867,27.9111,25.6356,29.6178,31.4311,...,34.5067,39.1644,37.7067,34.2756,32.7644,34.0978,29.9556,29.7956,30.72,28.3378
30,2014-09-01,KOKKINA,7.97416,3.98651,5.96553,3.97794,5.96642,3.96889,3.96871,3.96131,...,1.87468,3.74893,3.74988,3.77475,3.8237,1.93944,1.9541,5.93523,3.97401,5.94872
31,2014-09-01,KOMOTINI,4.18265,3.38846,3.42449,3.53173,2.70821,3.26554,3.875,2.84915,...,5.05463,4.18201,3.56802,5.03966,4.52329,5.4948,4.85552,5.25792,4.48583,5.08457
32,2014-09-01,LAMIA,3.81333,3.96444,3.83111,3.68889,4.24889,4.56,4.28444,4.27556,...,4.73778,4.20444,5.25333,5.22667,4.99556,4.62222,4.25778,4.10667,3.96444,4.05333
33,2014-09-01,LARISSA,17.5515,13.7559,14.3055,14.2116,13.4159,15.0017,16.1582,18.8423,...,23.7096,18.7247,18.4858,18.8399,17.5736,17.3858,17.7459,20.6858,20.9649,18.2639
34,2014-09-01,SPATA,8.65217,7.99248,6.75331,7.56422,6.79039,7.54201,6.74115,6.92791,...,7.13322,6.18364,6.41164,6.82669,6.71908,7.20634,6.41771,6.11115,7.14343,8.34808
35,2014-09-01,MOTOR OIL,296.176,296.575,304.668,295.378,294.011,279.282,274.681,308.728,...,254.528,237.325,213.459,224.325,246.463,270.879,279.728,302.811,308.103,304.44
36,2014-09-01,MOTOR OIL II,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,2014-09-01,XANTHI,1.93778,2.57778,1.61778,1.20889,1.51111,1.58222,3.2,3.48444,...,8.05333,6.77333,6.54222,6.73778,5.10222,6.04444,6.75556,7.85778,6.66667,4.42667
38,2014-09-01,OINOFYTA,90.7407,80.108,98.6147,102.72,107.171,100.985,106.944,99.483,...,119.137,114.051,90.9184,104.187,105.59,106.759,111.821,106.976,87.2643,83.6676
39,2014-09-01,PLATY,9.58692,9.4262,9.65596,9.69752,9.562,9.69665,9.57105,9.36791,...,4.67167,4.23995,5.62103,7.28001,5.20727,7.56748,15.2905,12.5917,13.2127,11.8544
40,2014-09-01,SALFA ANTHOUSSA,24.8891,16.2167,23.7507,1.92702,0.00578552,2.98606,9.49764,10.028,...,19.9349,6.95026,3.39604,5.92481,4.47827,5.984,8.53148,23.058,52.2607,33.5445
41,2014-09-01,SALFA ANO LIOSSIA,28.6224,28.6496,27.3136,5.21605,6.0069,8.4339,10.9227,11.5322,...,19.77,7.9925,3.9054,6.81375,5.1497,6.8816,9.81065,26.5167,30.1001,38.5756
42,2014-09-01,SERRES,12.8,9.81333,1.88444,1.45778,1.52889,1.81333,1.49333,1.6,...,14.2578,13.5111,13.2978,13.6889,12.9422,13.5467,14.1156,13.8311,13.2267,12.8711
43,2014-09-01,TRIKALA,0,0,0,0,0,0,0,0,...,0,0.449445,0.0249093,0,0,0,0,0,0,0