# Notebook for resampling the 1H timeseries to 6H timeseries

In [49]:
import pandas as pd


def resampling_long(csv):
    ''' Gets as input a csv in an 1H format and returns a dataframe in a 6H format
        This function also saves the the data in a new csv.

    Parameters
    ----------
    csv : str
        the path (absolute or relative) of the csv whose format we want to be modified

    Returns
    -------
    returns a dataframe with the 6H format  
    '''

    # Read CSV
    df = pd.read_csv(csv, parse_dates=['Datetime']).drop('Unnamed: 0', axis=1)
    
    # Save all station names to a list
    stations = df['ID'].unique()
    print(stations)
    

    df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
    df.set_index('Datetime', inplace=True)
    print(df)

    list_df = []
    for s in stations:
        temp_df = df.loc[df['ID'] == s]

        # Define aggregation rules for each column
        agg_rules = {
            'Value': 'sum',         # Summing values (or you can choose 'mean' or other functions)
            'ID': 'first',  # Most frequent ID
            'Timeseries ID': 'first' # Keep the first value
        }

        # Resample the DataFrame to a 6-hour format using the defined aggregation rules
        temp_df = temp_df.resample('6H').agg(agg_rules)    
        temp_df = temp_df.reset_index()
        list_df.append(temp_df)

    result_df = pd.concat([df for df in list_df], ignore_index=True)
    
    result_df.to_csv('../EXCEL_TO_CSV/all_data_changed_format_long_6H.csv')


    print(len(result_df))
    return result_df

resampling_long('../EXCEL_TO_CSV/all_data_changed_format_long.csv')

c:\Users\billv\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

['AGIA TRIADA' 'SIDIROKASTRO' 'KIPI' 'AGIOI THEODOROI' 'ALOYMINION'
 'ALOYMINION II' 'ALOYMINION III' 'ATHENS' 'ALEXANDROUPOLIS'
 'VIPE LARISSA' 'VOLOS' 'VFL' 'ALIVERI (PPC)' 'KERATSINI (PPC)'
 'KOMOTINI (PPC)' 'LAVRIO (PPC)' 'DRAMA' 'ELPE' 'ENERGIAKI THESS. (ELPE)'
 'HERON II' 'HERONAS' 'THESSALONIKI' 'THISVI' 'THRIASIO' 'KAVALA'
 'KARDITSA' 'KATERINI' 'KILKIS' 'KOKKINA' 'KOMOTINI' 'LAMIA' 'LARISSA'
 'SPATA' 'MOTOR OIL' 'MOTOR OIL II' 'XANTHI' 'OINOFYTA' 'PLATY'
 'SALFA ANTHOUSSA' 'SALFA ANO LIOSSIA' 'SERRES' 'TRIKALA']
                     Value           ID  Timeseries ID
Datetime
2014-09-01 00:00:00    0.0  AGIA TRIADA              0
2014-09-01 01:00:00    0.0  AGIA TRIADA              0
2014-09-01 02:00:00    0.0  AGIA TRIADA              0
2014-09-01 03:00:00    0.0  AGIA TRIADA              0
2014-09-01 04:00:00    0.0  AGIA TRIADA              0
...                    ...          ...            ...
2018-07-31 19:00:00    NaN      TRIKALA              0
2018-07-31 20:00:00    NaN      TRIKALA              0
2018-07-31 21:00:00    NaN      TRIKALA              0
2018-07-31 22:00:00    NaN      TRIKALA              0
2018-07-31 23:00:00    NaN      TRIKALA              0

[1411200 rows x 3 columns]
240240

                  Datetime  Value           ID  Timeseries ID
0      2014-09-01 00:00:00    0.0  AGIA TRIADA            0.0
1      2014-09-01 06:00:00    0.0  AGIA TRIADA            0.0
2      2014-09-01 12:00:00    0.0  AGIA TRIADA            0.0
3      2014-09-01 18:00:00    0.0  AGIA TRIADA            0.0
4      2014-09-02 00:00:00    0.0  AGIA TRIADA            0.0
...                    ...    ...          ...            ...
240235 2018-07-30 18:00:00    0.0      TRIKALA            0.0
240236 2018-07-31 00:00:00    0.0      TRIKALA            0.0
240237 2018-07-31 06:00:00    0.0      TRIKALA            0.0
240238 2018-07-31 12:00:00    0.0      TRIKALA            0.0
240239 2018-07-31 18:00:00    0.0      TRIKALA            0.0

[240240 rows x 4 columns]