# Notebook for rescaling data after converting them to long format for DEEPTSF

In [3]:
import pandas as pd

def rescale(csv):
    # Read CSV
    df = pd.read_csv(csv, parse_dates=['Datetime']).drop('Unnamed: 0', axis=1)
    df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
    datetime_threshold = pd.to_datetime('2017-05-31 00:00:00')
    for index, row in df.iterrows():
        if(row['Datetime'] >= datetime_threshold):
            df.at[index, 'Value'] = row['Value'] / 1000
    
    df.to_csv('../EXCEL_TO_CSV/all_data_long_rescaled.csv')

    return df

rescale('../EXCEL_TO_CSV/all_data_changed_format_long.csv')

c:\Users\billv\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

                   Datetime  Value           ID  Timeseries ID
0       2014-09-01 00:00:00    0.0  AGIA TRIADA              0
1       2014-09-01 01:00:00    0.0  AGIA TRIADA              0
2       2014-09-01 02:00:00    0.0  AGIA TRIADA              0
3       2014-09-01 03:00:00    0.0  AGIA TRIADA              0
4       2014-09-01 04:00:00    0.0  AGIA TRIADA              0
...                     ...    ...          ...            ...
1411195 2018-07-31 19:00:00    NaN      TRIKALA              0
1411196 2018-07-31 20:00:00    NaN      TRIKALA              0
1411197 2018-07-31 21:00:00    NaN      TRIKALA              0
1411198 2018-07-31 22:00:00    NaN      TRIKALA              0
1411199 2018-07-31 23:00:00    NaN      TRIKALA              0

[1411200 rows x 4 columns]