In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pathlib
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from matplotlib.lines import Line2D
import matplotlib as mpl
from itertools import cycle

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        file = os.path.join(dirname, filename)
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import datetime
def excel_read():
    def dparser(x):
        try:
            x = datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S')
        except:
            x= 'NaN'
        return x

    dateparse = lambda x: dparser(x)
    dataframe = pd.read_excel(file,
                              parse_dates=['Ημερομηνία / Date'],
    #                           date_parser=dateparse
                              )
    return dataframe
df = excel_read()

In [ ]:
from datetime import datetime

def read_excel(file):
    """
    Reads all csv files in folder path given and stores them in a single dataframe df 
    Parameters: None
    ----------
    Returns
    -------
    pandas.DataFrame
        Dataframe where rows are individual data and columns for indicative
        information on the data like datetime, month, week, country etc
    """

    df = pd.DataFrame()
    dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

    # For every csv file in folder 
    temp_df = pd.read_excel(file,
                          parse_dates=['Ημερομηνία / Date'],
                          date_parser=dateparse)
    df = pd.concat([df,temp_df]) 
    print('Data loading complete!')
    df.sort_values(by=['Ημερομηνία / Date'], ascending=True, inplace=True)
    return df

df = read_excel(file)

In [ ]:
income = pd.DataFrame({'Date': [],
                   'Kwh':[],
                   'year': [],
                   'month': [],
                   'day':[],
                   'city':[]
                  })

In [ ]:
income

In [ ]:
df.replace(np.nan, 0,inplace=True)

In [ ]:
income

In [ ]:
list(df.columns)[1]

In [ ]:
income

In [ ]:
data = df.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
# df.fillna(0).copy()
df.replace(np.nan, 0,inplace=True)

In [ ]:
df

In [ ]:
eisroes = df.iloc[0:5372, 0:5]
eisroes

In [ ]:
for index, row in eisroes.iterrows():
    year = str(row[0]).split("-")[0]
    month = str(row[0]).split("-")[1]
    day = str(row[0]).split("-")[2].split(" ")[0]
    for i in range(len(row)):
#     print(row[0], row[1], str(row[0]).split("-")[0],str(row[0]).split("-")[1],str(row[0]).split("-")[2],list(df.columns)[index+1])
        if i < len(row)-1:
#             print(row[0], row[1], str(row[0]).split("-")[0],str(row[0]).split("-")[1],str(row[0]).split("-")[2],list(df.columns)[i+1])
            income.loc[len(income.index)] = [row[0], row[i+1], year , month, day,list(eisroes.columns)[i+1]]
income

In [ ]:
income.to_csv(r'/kaggle/working/Income.csv')

In [ ]:
income

In [ ]:
ekroes = df.drop(labels=['AGIA TRIADA','SIDIROKASTRO','KIPI','NEA MESIMVRIA'], axis=1).copy()
ekroes

In [ ]:
outcome = pd.DataFrame({'Date': [],
                   'Kwh':[],
                   'year': [],
                   'month': [],
                   'day':[],
                   'city':[]
                  })

In [ ]:
for index, row in ekroes.iterrows():
    year = str(row[0]).split("-")[0]
    month = str(row[0]).split("-")[1]
    day = str(row[0]).split("-")[2].split(" ")[0]
    for i in range(len(row)):
#     print(row[0], row[1], str(row[0]).split("-")[0],str(row[0]).split("-")[1],str(row[0]).split("-")[2],list(df.columns)[index+1])
        if i < len(row)-1:
#             print(row[0], row[1], str(row[0]).split("-")[0],str(row[0]).split("-")[1],str(row[0]).split("-")[2],list(df.columns)[i+1])
            outcome.loc[len(outcome.index)] = [row[0], row[i+1], year , month, day,list(ekroes.columns)[i+1]]
outcome

In [47]:
outcome

                       Date           Kwh  year month day               city
0                       0.0  0.000000e+00  2008    01  01         ALOYMINION
1                       0.0  0.000000e+00  2008    01  01      ALOYMINION II
2                       0.0  0.000000e+00  2008    01  01     ALOYMINION III
3                       0.0  1.328264e+07  2008    01  01             ATHENS
4                       0.0  0.000000e+00  2008    01  01    ALEXANDROUPOLIS
...                     ...           ...   ...   ...  ..                ...
249559  2022-08-31 00:00:00  2.251120e+05  2022    08  31  SALFA ANO LIOSSIA
249560  2022-08-31 00:00:00  4.449230e+05  2022    08  31             SERRES
249561  2022-08-31 00:00:00  5.432300e+04  2022    08  31            TRIKALA
249562  2022-08-31 00:00:00  0.000000e+00  2022    08  31            FARSALA
249563  2022-08-31 00:00:00  0.000000e+00  2022    08  31     SIDIROKASTRO.1

[249564 rows x 6 columns]

In [ ]:
outcome.to_csv(r'/kaggle/working/Outcome.csv')

In [ ]:
outcome.to_csv(r'/kaggle/working/Outcome_2.csv',index = False)

In [ ]:
outcome2 = pd.DataFrame({'Date': [],
                   'Kwh':[],
                   'year': [],
                   'month': [],
                   'day':[],
                   'city':[]
                  })

In [ ]:
for index, row in ekroes.iterrows():
    year = str(row[0]).split("-")[0]
    month = str(row[0]).split("-")[1]
    day = str(row[0]).split("-")[2].split(" ")[0]
    for i in range(len(row)):
#     print(row[0], row[1], str(row[0]).split("-")[0],str(row[0]).split("-")[1],str(row[0]).split("-")[2],list(df.columns)[index+1])
        if i < len(row)-1:
            outcome2.loc[len(outcome2.index)] = [row[0], row[i+1], year , month, day,list(ekroes.columns)[i+1]]
    if index == 9:
        break

In [2]:
outcome2

          Date           Kwh  year month day               city
0   2008-01-01  0.000000e+00  2008    01  01    AGIOI THEODOROI
1   2008-01-01  0.000000e+00  2008    01  01         ALOYMINION
2   2008-01-01  0.000000e+00  2008    01  01      ALOYMINION II
3   2008-01-01  0.000000e+00  2008    01  01     ALOYMINION III
4   2008-01-01  1.328264e+07  2008    01  01             ATHENS
..         ...           ...   ...   ...  ..                ...
445 2008-01-10  3.940428e+05  2008    01  10  SALFA ANO LIOSSIA
446 2008-01-10  2.447201e+05  2008    01  10             SERRES
447 2008-01-10  0.000000e+00  2008    01  10            TRIKALA
448 2008-01-10  0.000000e+00  2008    01  10            FARSALA
449 2008-01-10  0.000000e+00  2008    01  10     SIDIROKASTRO.1

[450 rows x 6 columns]

In [3]:
income

            Date           Kwh  year month day           city
0     2008-01-01  1.345297e+07  2008    01  01    AGIA TRIADA
1     2008-01-01  8.024045e+07  2008    01  01   SIDIROKASTRO
2     2008-01-01  1.546574e+07  2008    01  01           KIPI
3     2008-01-01  0.000000e+00  2008    01  01  NEA MESIMVRIA
4     2008-01-02  4.251322e+07  2008    01  02    AGIA TRIADA
...          ...           ...   ...   ...  ..            ...
21423 2022-08-30  4.030202e+07  2022    08  30  NEA MESIMVRIA
21424 2022-08-31  9.514826e+07  2022    08  31    AGIA TRIADA
21425 2022-08-31  4.618373e+07  2022    08  31   SIDIROKASTRO
21426 2022-08-31  1.048523e+07  2022    08  31           KIPI
21427 2022-08-31  2.908789e+07  2022    08  31  NEA MESIMVRIA

[21428 rows x 6 columns]